h1 {
  color: green;
  border: 5px dotted blue;
}

.blueText {
  color: blue;
}

.greenText {
  color: green;
  font-size: x-large;
}

.gabriella {
    color: green;
    font-size: x-large;
    font-family: Arial, Helvetica, sans-serif;
    
}





